/*Обнуление стилей*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Убираем линии обводки у некоторых браузеров*/
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

/*Делает теги блочными*/
nav,
footer,
header,
aside {
	display: block;
}

/*Уравнивает поведение шрифтов и элементов для разных браузеров*/
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*Унаследовать по умолчанию семейство шрифта*/
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
/*Конец обнуления стилей*/

body {
	background-color: #e8e8e8;
}

.content {
	color: #273d46;
	line-height: 40px;
	width: 841px;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	opacity: 0.6;
}
h2 {
	font-size: 36px;
	line-height: 50px;
	text-align: center;
}
.exemple-image {
	max-width: 841px;
	height: 561px;
	display: block;
	margin: 55px auto 90px;
	border: 10px solid white;
}
p {
	line-height: 40px;
	font-size: 24px;
	line-height: 40px;
	width: 740px;
	opacity: 0.8;
	/* border: 1px solid #000; */
	margin: 0 auto 40px;
	overflow: visible;
}
.block_1 {
	width: 1190px;
	height: 1064px;
	margin-top: 106px;
	margin-left: 142px;
	margin-right: 108px;
	padding-top: 62px;
	background: url(/travel/img/layers.png);
}

.list {
	display: block;
	margin: 167px auto 50px 367px;
	/* border: 1px solid #000; */
}
.list li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 36px;
	background: url(/travel/img/check_icon_39.png) left center no-repeat;
	padding: 0px 0px 0px 30px;
}
.listitem1 {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.listitem2 {
	font-style: italic;
	color: #80b7b3;
}
.listitem3 {
	font-weight: 700;
}
.listitem4 {
	text-decoration: line-through;
	/* opacity: 0.3; */
	color: #8f9699;
}
.button {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	width: 199px;
	height: 44px;
	border-radius: 50px;
	text-align: left;
	padding-left: 30px;
	margin: 0px auto 100px 367px;
	box-shadow: 0px 6px 40px 0px;
	background: rgba(128, 183, 179) url(/travel/img/shape_2_9.png) 150px center no-repeat;
}
